{% extends "header.html" %}
{% block head_title %} {{title}} {% endblock %}

{% block main_body %}



<div class="container text-center center-in-div">
  <form method="POST">
    {% csrf_token %}
    <img class="mb-2" src="/static/images/favicon-foodmagic.png" alt="" width="100" height="75">
    <h1 class="h4 mb-3 font-weight-normal">Create a New Account</h1><hr>

    <div class="form-group text-left">
      <input type="text" class="input-filed" id="name" min="2" max="150" ondrop="return true;" onpaste="return true;"
        onkeypress="return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32"
        placeholder="First Name *" name="first_name" required>
      <span id="nameError"></span>
    </div>
    <div class="form-group text-left">
      <input type="text" class="input-filed" id="name" min="2" max="150" ondrop="return true;" onpaste="return true;"
        onkeypress="return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32"
        placeholder="Last Name *" name="last_name" required>
      <span id="nameError"></span>
    </div>
    <div class="form-group text-left">
      <input type="text" class="input-filed" placeholder="Mobile Number *" id="mobile" min="1" max="10"  maxlength="10"
        ondrop="return false;" onpaste="return false;" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="mobile_number"
        required>
      <span id="mobileError"></span>
    </div>
    <div class="form-group text-left">
      <input type="email" class="input-filed" placeholder="Email address *" id="email" name="email" required>
      <span id="emailError"></span>
    </div>
    <div class="form-group text-left">
      <input type="password" class="input-filed" placeholder="Password *" title="Password must be 8-20 characters"
        id="pass" minlength="8" name="password" required>
      <span id="passError"></span>
    </div>
    <div class="form-group text-left">
      <input type="password" class="input-filed" placeholder="Confirm Password *"
        title="Confirm Password must be 8-20 characters" id="cpass" minlength="8" required>
      <span id="cpassError"></span>
    </div>

    <div class="text-center">
      <button class="btn-block btn btn-sm btn-outline rounded-0 rounded-0" type="submit">Continue</button>
    </div>
  </form>

  <div class="text-center my-3">
    <span class="my-0">Already have an account?</span><a class="text-decoration-none" href="/">
      Login</a>
  </div>
</div>

{% endblock %}

{% include "footer.html" %}