{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicons -->
  <link href="{% static 'images/favicon-foodmagic.png' %}" rel="icon" />


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <title>Online foodmagic</title>
  <link rel="stylesheet" href="{% static 'css/menu.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <style>
    body::-webkit-scrollbar {
      width: 0px;
    }

    .menu-btn:focus {
      outline: none;
    }

    .scroll {
      max-height: 80vh;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .scroll::-webkit-scrollbar {
      width: 0px;
    }

    .input-group:focus {
      outline: 0;
    }

  </style>

</head>

<body>
  <!-- Top Navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-white py-1 border-bottom ">
    <a class="navbar-brand" href="/">
      <h5 class="my-0 mr-md-auto font-weight-normal"><b><img src="{% static 'images/foodmagiclogo.png' %}" alt="logo"
            width="120px" height="30px"></b></h5>
    </a>
    <button class="navbar-toggler p-0 border-0 menu-btn" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon btn-sm"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Recent Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myaccount/{{ user.profile.id }}">Account</a>
        </li>
      </ul>

      <form method="get" action="/search" class="input-group w-50 border">
        <input type="search" placeholder="Search" aria-label="Search" class="form-control border-0 px-2" name="search" value="{{ request.GET.search }}" required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary px-4 rounded-0 border-0 bg-light" type="submit" id="button-addon2"><i
              class="fa fa-search"></i></button>
        </div>
      </form>
      {% if user.is_authenticated %}
        <div class="border-top d-flex bd-highlight" title="My Account">
          <span class="flex-shrink-1 bd-highlight btn-lg p-2"><i class="fa fa-user-circle text-dark"></i></span>
          <span class="navbar-text bd-highlight">
            <p class="text-dark username m-0"><a href="/myaccount/{{ user.profile.id }}">{{user.first_name}} {{user.last_name}}</a></p>
            <p class="font-weight-normal mobile_no m-0">{{ user.profile.phone_no }}</p>
          </span>
        </div>
      {% else %}
      <div class="border-top d-flex bd-highlight mx-3">
        <a class="btn btn-light border rounded-0 text-dark btn-sm text-uppercase" href="#" role="button">Login</a>
      </div>
      {% endif %}
    </div>
  </nav>

  <!-- Mobile search box -->
  <div class="container p-2 bg-white d-block d-lg-none sticky-top">
    <form method="get" action="/search" class="input-group w-100 border">
      <input type="search" placeholder="Search" aria-label="Search" class="form-control border-0 input-field px-2"
        name="search" value="{{ request.GET.search }}" required>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary px-4 rounded-0 border-0 bg-light" type="submit" id="button-addon2"><i
            class="fa fa-search"></i></button>
      </div>
    </form>
  </div>

  <!-- Category navbar -->
  {% block cetagory %}
  {% endblock %}




  <!-- Start Body -->
  <div class="container-fluid mb-5">

    <div class="row p-2">

      {% block fullBodyContent %}
      {% endblock %}

      <!-- Product List (Left) -->
      {% block content %}
      {% endblock %}

      <!-- Cart (Right) -->
      {% block cart %}
      {% endblock %}

    </div>
  </div>
  <!-- End Body -->

  <!-- Footer menu -->












<footer class="footer py-2 fixed-bottom bg-white border-top d-block d-lg-none">
        <div class="container">
            <ul class="nav d-flex justify-content-around">
                <li class="nav-item text-center">
                  <a class="nav-link py-0 my-0" href="/" role="tab"><span class="bottom-nav-links active"><i class="fa fa-home"></i><br>Home</span></a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link py-0 my-0" href="#" data-toggle="modal" data-target="#cart"><span class="bottom-nav-links"><i class="fa fa-shopping-cart"></i><br>Cart (<span class="total-count"></span>)</span></a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link py-0 my-0" href="/myaccount/{{ user.profile.id }}"><span class="bottom-nav-links"><i class="fa fa-user"></i><br>Account</span></a>
                </li>
              </ul>
        </div>
      </footer>


















  <!-- End Footer menu -->

  <!-- Cart Modal -->
  <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="show-cart">

          </div>
          <div class="card text-success p-2 my-2 text-right">
            <b>Total : ₹<span class="total-cart"></span></b>
          </div>
          <hr>
          <div class="d-flex justify-content-end">
            <button class="clear-cart btn btn-danger mx-2">Clear Cart</button>
            <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal">Close</button>
            <a href="/checkout/" class="btn btn-dark">Palce Oder</a>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- Order now Model -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Checkout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="show-cart">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <a href="/checkout/" class="btn btn-dark">Palce Oder</a>
        </div>
      </div>
    </div>
  </div>



  <div class="container d-none d-lg-block">

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <b><img src="{% static 'images/foodmagiclogo.png' %}" alt="logo" width="80px" height="20px"></b>
          <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="hvr-link text-decoration-none" href="#">Cool stuff</a></li>
            <li><a class="hvr-link text-decoration-none" href="#">Random feature</a></li>
            <li><a class="hvr-link text-decoration-none" href="#">Team feature</a></li>
            <li><a class="hvr-link text-decoration-none" href="#">Stuff for developers</a></li>
            <li><a class="hvr-link text-decoration-none" href="#">Another one</a></li>
            <li><a class="hvr-link text-decoration-none" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="hvr-link text-decoration-none" href="#">Resource</a></li>
            <li><a class="hvr-link text-decoration-none" href="#">Resource name</a></li>
            <li><a class="hvr-link text-decoration-none" href="#">Another resource</a></li>
            <li><a class="hvr-link text-decoration-none" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="hvr-link text-decoration-none" href="#">Team</a></li>
            <li><a class="hvr-link text-decoration-none" href="#">Locations</a></li>
            <li><a class="hvr-link text-decoration-none" href="#">Privacy</a></li>
            <li><a class="hvr-link text-decoration-none" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>


  {% for message in messages %}
  <input class="d-none" type="text" id="message-tags" value="{{ message.tags }}">
  <input class="d-none" type="text" id="message" value="{{ message }}">
  {% endfor %}

  <!-- Optional JavaScript -->
  <script>
    function showMessage() {
      var message_tag = document.getElementById('message-tags').value;
      var message = document.getElementById('message').value;
      swal("", message, message_tag);
    }

  </script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- Optional JavaScript -->
  <script src="{% static 'js/cart.js' %}"></script>
</body>

</html>